<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <appSettings>
    <add key="rutabackup" value="C:\\Backup"/>
    <add key="reCAPTCHA" value="6LfxTncUAAAAAJVBuQrK1U0vrMSRzCUCnEH80i7j"/>
     <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
    

    <!--Siempre en el C debemos crear la carpeta Backup para que se pueda efectuar el mismo.-->
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="innovaled.company@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\\Backup"/>
      </smtp>
    </mailSettings >
  </system.net>

  <connectionStrings>
    <add name="InnovaLED" connectionString="Data Source=DELL7000\SQLEXPRESS;Initial Catalog=InnovaLED;Integrated Security=True"/>
    <add name="InnovaLEDMaster" connectionString="Data Source=DELL7000\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2 " maxRequestLength="2097151"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>